body {
    font-family: sans-serif;
   
    
    flex-direction: row;
}

.hero-body {
    width: 100vw;
    background-image: linear-gradient(to right, rgb(46, 46, 184) , rgba(72, 8, 132, 0.959));
    color: white;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: bolder;
    
}

h1 {
    padding-right: 325px;
    font-weight: bold;
    
}

h2 {
    font-weight: bolder;
    font-size: larger;
    padding: 3px;
}

.searchBar{
    height: 40px;
    width: 270px;
    border-radius: 5px;
}

#searchBtn {
    background-color: rgb(104, 129, 212);
    color: white;
    margin-top: 10px;
    width: 270px;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 5px;
    border-bottom: 2px black;
    margin-left: 5px;
}

#searchContainer {
    border: 5px;
    border-color: black;
    padding: 5px;
    
}

#form {
    padding-left: 5px;
}